* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
    font-weight: 500;
    padding:  30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.grow {
    color: #000;
font-size: 24px;
font-style: normal;

}

.be {
    color: #F25822;
font-size: 24px;
font-style: normal;

}

.menu_link {
    text-decoration: none;
    color: #000;
font-size: 14px;
font-style: normal;

}

.menu_link_orange {
    color: #F25822;
}

.main {
    padding-top: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.main_text {
    width: 600px;
}

.title {
    color: #000;
font-size: 60px;
font-style: normal;
font-weight: 700;

}

.text_p {
    padding-top: 20px;

    color: #888;

font-size: 20px;
font-style: normal;
}

.buttons {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.button {
    padding: 15px 30px;
    color: #FFF;

font-size: 15px;
font-style: normal;
border-radius: 50px;
border: 0;
background: #F25822;
}

.button_link {
    color: #AAA;

font-size: 15px;
font-style: normal;
}

.footer {
    margin-top: 80px;
    padding: 45px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}