* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
    font-weight: 500;
}

.header {
    margin: 0 auto;
}

.header_top {
    display: flex;
    justify-content:space-between;
    padding: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.grow {
    color: #000;
    font-size: 24px;
    font-style: normal;
}

.be {
    color: #F25822;
    font-size: 24px;
    font-style: normal;
}

.menu_link {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-style: normal;
}

.menu_link_orange {
    color: #F25822;
}

.main {
    margin: 0 auto;
}

.main_top {
    display: flex;
    justify-content:space-between;
    padding: 50px;
    flex-wrap: wrap;
    align-items: center;
}

.main_text {
    width: 600px;
}

.title {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;

}

.text_p {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #888;
    font-size: 20px;
    font-style: normal;
}

.buttons {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.button {
    padding: 15px 30px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    border-radius: 50px;
    border: 0;
    background: #F25822;
}

.button_link {
    color: #AAA;
    font-size: 15px;
    font-style: normal;
}

.logo_links {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.main_middle {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.middle_content {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 380px;
}

.title_middle {
    padding-top: 20px;
    color: #000;
font-size: 45px;

}

.title_small {
    padding-top: 20px;
    color: #000;
font-size: 24px;

}

.main_bottom{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.bottom_content {
    text-align: center;
}

.bottom_colomns {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.bottom_colomn {
    width: 380px;

}

.bottom_colomn {
    width: 380px;

}